/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first #edit-actions input#edit-submit {
  width: 17%;
}

#region-postscript-second {
  width: 280px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first,
.page #section-content #zone-f-wrapper #zone-f #region-f-second,
.page #section-content #zone-f-wrapper #zone-f #region-f-third {
  width: 220px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second {
  width: 460px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first {
  width: 220px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second {
  width: 460px;
}

#main_menu,
#magnifying_glass {
  margin-top: 40px;
}

#main_menu ul.main-menu li {
  font-size: 13px;
  margin-right: 14px;
  line-height: 20px;
}
.page #section-content #zone-f-wrapper #zone-f #region-f-first,
.page #section-content #zone-f-wrapper #zone-f #region-f-second,
.page #section-content #zone-f-wrapper #zone-f #region-f-third {
  float: left;
}

#main_menu {
  float: left;
}

#main_menu ul.main-menu {
  display: block;
}

#main_menu select {
  display: none;
}

#flexslider-1 {
  display: block;
}
