/* This file will hold styles that are loaded using the same media query as the wide grid. */
.page #section-content #zone-content-wrapper #zone-content #region-content {
    margin-bottom: 121px;
    width: 49%;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second {
  width: 26%;
  margin-left: 41px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block {
  float: left;
  width: 50%;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first #edit-actions input#edit-submit {
  width: 17%;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .view-footer a {
  float: right;
  margin-right: 53%;
  margin-top: 2%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row #crop {
  width: 3%;
}

.page #section-footer #block-blueprints-contact-information {
  width: 50%;
}
.page #section-footer #block-blueprints-copyright {
  width: 50%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left {
  width: 40%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right {
  margin-right: 20%;
  width: 36%;
  padding: 0px 19px 0px 18px;
  margin-top: 40px;
  min-height: 197px;
  background-color: #edf0f1;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer {
  width: 80%;
}

#block-views-webforms-block-1 {
  float: right;
  width: 50%;
  margin-top: 38px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-interventions-pdf {
  margin-top: -57px;
  width: 98%;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-interventions-pdf .file {
  width: 30%;
}

.page #section-content #zone-content-wrapper #zone-content #block-blueprints-interventions-text #interventions_text {
  float: left;
  margin-left: 41%;
  width: 450px;
}