/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.page #section-content #zone-content-wrapper #zone-content #region-content {
  margin-bottom: 121px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first #edit-actions input#edit-submit {
  margin-right: 2px;
  width: 17%;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .view-footer a {
  float: right;
  margin-right: 53%;
  margin-top: 2%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row #crop {
  width: 3%;
}

.page #section-footer #block-blueprints-contact-information {
  width: 50%;
}

.page #section-footer #block-blueprints-copyright {
  width: 50%;
  text-align: right;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left {
  width: 460px;
  margin-right: 10px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right {
  margin-left: 10px;
  width: 423px;
  padding: 0px 19px 0px 18px;
  margin-top: 40px;
  background-color: #edf0f1;
}

#block-views-webforms-block-1 {
  margin-top: 70px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-interventions-pdf .file,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-is-from-report .field-items {
  width: 292px;
  float: right;
}

#logo {
  margin-right: 40px;
}

#main_menu ul.main-menu li {
  font-size: 14px;
  margin-right: 35px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first,
.page #section-content #zone-f-wrapper #zone-f #region-f-second,
.page #section-content #zone-f-wrapper #zone-f #region-f-third {
  width: 300px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first {
  width: 300px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second {
  width: 620px;
}

.flexslider .iic-icon {
  margin-left: 86px;
  margin-right: 70px;
  width: 150px;
  height: 150px;
}

.flexslider .views-field-body,
.flexslider .views-field-field-heading {
  width: 555px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th:last-child {
  padding-left: 190px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th:first-child {
  padding-left: 55px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right {
  margin-top: 40px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme{
  width: 460px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-items,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-progr-information-contact .field-items {
  width: 300px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme .field-items {
  width: 290px;
}
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th:first-child {
  width: 33%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-progr-information-contact,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-local-authorities-uk{
  width: 460px;
}

.page #section-content #zone-content-wrapper #zone-content #block-blueprints-interventions-text #interventions_text {
  float: right;
  margin-left: 10px;
  width: 450px;
}



#main_menu,
#magnifying_glass {
  margin-top: 40px;
}


#main_menu {
  float: left;
}

#main_menu ul.main-menu {
  display: block;
}

#main_menu select {
  display: none;
}

#flexslider-1 {
  display: block;
}