/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.less will apply site-wide. */

@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
  color: #464646;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  line-height: 1.25;
  margin: 60px 0 15px;
}

h1, h1#page-title {
  font-family: 'Titillium Web',sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  font-weight: 200;
  line-height: 35px;
  margin: 30px 0;
}

#block-blueprints-blueprints-sidebar-content h1,
h2.block-title {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #464646;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
}

html {
  overflow-x: hidden;
}

a {
  color: #5CABB8;
  text-decoration: none;
}

a:hover {
  color: #5CABB8;
  text-decoration: none;
}

hr {
  background: none repeat scroll 0 0 #EEEEEE;
  border: medium none;
  color: #EEEEEE;
  height: 1px;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: none repeat scroll 0 0 #999999;
  color: #FFFFFF;
  text-shadow: none;
}

:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}

#logo {
  display: block;
  float: left;
  margin-bottom: 49px;
  margin-top: 25px;
}

#region-sidebar-first .block, #region-sidebar-second .block {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#zone-branding-wrapper {
  background: url("../images/brend-bg.png") repeat-x scroll center bottom transparent;
  border-top: 1px solid #EBEBEB;
  min-height: 174px;
  margin-top: 4px;
}

#zone-postscript-wrapper {
  padding: 50px 0;
}

#zone-f-wrapper {
  background: none repeat scroll 0 0 #282929;
  color: #808282;
  font-size: 13px;
  padding: 0;
}

#zone-f-wrapper h2.block-title {
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  padding: 25px 0 15px;
  text-transform: uppercase;
}

#zone-f-wrapper a {
  color: #569EAA;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}

#zone-f-wrapper a:hover {
  color: #569EAA;
}

#zone-f {
  padding-bottom: 48px;
}

#zone-footer-wrapper {
  background: none repeat scroll 0 0 #222323;
  color: #7C7E7E;
}

#zone-footer {
  font-size: 11px;
  padding: 20px 0;
}

#zone-footer a {
  color: #5CABB8;
  font-size: 11px;
  text-decoration: none;
}

#block-superfish-1 {
  padding-top: 60px;
}

.bubble {
  font-style:italic !important;
  margin: 20px 0px 0px 0px;
  padding: 30px;
  position: relative;
  line-height:25px;
  color:#5cabb8;
  background: #ebefef;
  border-color: #ebefef;
 }

 .bubble:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 35px;
  border-top: 20px solid blue;
  border-top-color: inherit; 
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
 }

 p.client-says {
  background: url("../images/client.png") no-repeat scroll left top transparent;
  color: #464646;
  font-size: 13px;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 8px 0 10px 50px;
} 

#region-sidebar-second .block.block-search {
	margin-bottom: 10px !important;
}

.page-node-9 #zone-postscript-wrapper {
	padding-top: 0px;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: #5CABB8;
}

.blue {
  color: #5CABB8 !important;
}

a.blue {
  color: #5CABB8 !important;
}

a.blue:hover {
  border-bottom: 1px dotted #5CABB8;
  color: #5CABB8;
}

.suffix {
  padding-top: 7px;
}

#newsletter-subscribe-form {
  background: none repeat scroll 0 0 #222323;
  border: 1px solid #2D2E2E !important;
  height: 38px;
  padding: 0 0 0 10px;
  width: 95%;
}

#newsletter-subscribe-form .form-type-textfield {
  margin: 0;
  padding: 0;
}

#newsletter-subscribe-form #edit-email, #newsletter-subscribe-form #edit-email--2 {
  background: none repeat scroll 0 0 #222323;
  border: medium none;
  color: #8A8C8C;
  font-size: 13px;
  margin: 0;
  padding: 10px 0 0;
}

#edit-newsletter-submit {
  background: url("../images/c.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  cursor: pointer;
  float: right;
  height: 28px;
  position: absolute;
  right: 10px;
  text-indent: 100px;
  top: 180px;
  width: 29px;
}

#edit-newsletter-submit:hover {
  background: url("../images/c-h.png") no-repeat scroll 0 0 transparent;
}

#block-newsletter-newsletter-subscribe h2.block-title {
  padding-top: 0;
}

.c-m {
  margin-bottom: 80px;
  margin-top: 40px;
}

.c-1 {
  background: url("../images/circle-1.png") no-repeat scroll left top transparent;
  color: #464646;
  font-size: 22px;
  height: 300px;
  margin-top: 40px;
  text-align: center;
  width: 300px;
}

.c-2 {
  background: url("../images/circle-2.png") no-repeat scroll left top transparent;
  color: #464646;
  font-size: 22px;
  height: 300px;
  margin-top: 40px;
  text-align: center;
  width: 300px;
}

.blog-title {
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 20px;
}

.b-t {
  margin-top: 30px;
}

.d-i {
  display: inline;
}

.but-2 {
  background: -moz-linear-gradient(center top , #EFF2F3, #E7EBEB) repeat scroll 0 0 transparent;
  border-bottom: 1px solid #D9DBDC;
  color: #464646;
}

.b-c {
  border-bottom:1px solid #d9dbdc;
  background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #464646;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 15px 22px 13px;
  text-decoration: none;
}

a.b-c:hover {
  color:#ffffff;
  border-bottom:1px solid #46818b;
  background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');
}

.r {
  margin-left: 10px;
}

.f-l {
  float: left;
}

.f-l a {
  color: #464646;
  text-decoration: none;
}

.m-b {
  margin-bottom: 40px;
}

.links-t {
  margin-bottom: 40px;
  margin-top: 20px;
}

.comments-count a {
  color: #464646;
  text-decoration: none;
}

span.comments {
  margin-right: 5px;
}

body.page-node- #region-content .node .field-name-field-image img, body.page-comment #region-content .node .field-name-field-image img, body.page-node- #region-content .node .field-name-field-feature-image img, body.page-node #region-content .node .field-type-image img, .field-name-field-custom img, img.res, .field-name-field-blog-image img {
  height: auto;
  max-width: 100%;
}

.feed-icon {
  display: none;
}

.social-network {
  background: url("../images/social.png") no-repeat scroll left top transparent;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  margin: 3px 10px 12px 0;
  background-position-y: -42px; 
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	transition:all 0.2s ease;
	cursor:pointer;
  width: 33px;
}

a.social-network {
  text-indent: -10000em;
}

.social-network.behance {
  background-position: 0 -42px;
}

.social-network.blogger {
  background-position: -42px -42px;
}

.social-network.deviantart {
  background-position: -84px -42px;
}

.social-network.digg {
  background-position: -126px -42px;
}

.social-network.dribbble {
  background-position: -168px -42px;
}

.social-network.facebook {
  background-position: -210px -42px;
}

.social-network.feed {
  background-position: -252px -42px;
}

.social-network.flickr {
  background-position: -294px -42px;
}

.social-network.forrst {
  background-position: -336px -42px;
}

.social-network.gplus {
  background-position: -378px -42px;
}

.social-network.gowalla {
  background-position: -420px -42px;
}

.social-network.lastfm {
  background-position: -462px -42px;
}

.social-network.linkedin {
  background-position: -504px -42px;
}

.social-network.myspace {
  background-position: -546px -42px;
}

.social-network.paypal {
  background-position: -588px -42px;
}

.social-network.picasa {
  background-position: -630px -42px;
}

.social-network.pinterest {
  background-position: -672px -42px;
}

.social-network.sharethis {
  background-position: -714px -42px;
}

.social-network.skype {
  background-position: -756px -42px;
}

.social-network.stumbleupon {
  background-position: -798px -42px;
}

.social-network.tumblr {
  background-position: -840px -42px;
}

.social-network.twitter {
  background-position: -882px -42px;
}

.social-network.viddlr {
  background-position: -924px -42px;
}

.social-network.vimeo {
  background-position: -966px -42px;
}

.social-network.wordpress {
  background-position: -1008px -42px;
}

.social-network.youtube {
  background-position: -1050px -42px;
}

.social-network.behance:hover, .active .social-network.behance {
  background-position: 0 0;
}

.social-network.blogger:hover, .active .social-network.blogger {
  background-position: -42px 0;
}

.social-network.deviantart:hover, .active .social-network.deviantart {
  background-position: -84px 0;
}

.social-network.digg:hover, .active .social-network.digg {
  background-position: -126px 0;
}

.social-network.dribbble:hover, .active .social-network.dribbble {
  background-position: -168px 0;
}

.social-network.facebook:hover, .active .social-network.facebook {
  background-position: -210px 0;
}

.social-network.feed:hover, .active .social-network.feed {
  background-position: -252px 0;
}

.social-network.flickr:hover, .active .social-network.flickr {
  background-position: -294px 0;
}

.social-network.forrst:hover, .active .social-network.forrst {
  background-position: -336px 0;
}

.social-network.gplus:hover, .active .social-network.gplus {
  background-position: -378px 0;
}

.social-network.gowalla:hover, .active .social-network.gowalla {
  background-position: -420px 0;
}

.social-network.lastfm:hover, .active .social-network.lastfm {
  background-position: -462px 0;
}

.social-network.linkedin:hover, .active .social-network.linkedin {
  background-position: -504px 0;
}

.social-network.myspace:hover, .active .social-network.myspace {
  background-position: -546px 0;
}

.social-network.paypal:hover, .active .social-network.paypal {
  background-position: -588px 0;
}

.social-network.picasa:hover, .active .social-network.picasa {
  background-position: -630px 0;
}

.social-network.pinterest:hover, .active .social-network.pinterest {
  background-position: -672px 0;
}

.social-network.sharethis:hover, .active .social-network.sharethis {
  background-position: -714px 0;
}

.social-network.skype:hover, .active .social-network.skype {
  background-position: -756px 0;
}

.social-network.stumbleupon:hover, .active .social-network.stumbleupon {
  background-position: -798px 0;
}

.social-network.tumblr:hover, .active .social-network.tumblr {
  background-position: -840px 0;
}

.social-network.twitter:hover, .active .social-network.twitter {
  background-position: -882px 0;
}

.social-network.viddlr:hover, .active .social-network.viddlr {
  background-position: -924px 0;
}

.social-network.vimeo:hover, .active .social-network.vimeo {
  background-position: -966px 0;
}

.social-network.wordpress:hover, .active .social-network.wordpress {
  background-position: -1008px 0;
}

.social-network.youtube:hover, .active .social-network.youtube {
  background-position: -1050px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  font-family: 'Open Sans', 'sans-serif';
  border: 1px solid #D9DBDC !important;
  border-radius: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  color: #8A8C8C !important;
  font-size: 13px !important;
  height: 36px !important;
  margin: 0 !important;
}

.form-item,
.form-actions {
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: bold;
  margin: 0 5px 5px 0;
}

#block-search-form #edit-submit,
#block-search-form #edit-submit--2,
#block-search-form #edit-submit--3,
#block-search-form #edit-submit--4 {
  font-family: 'Open Sans', 'sans-serif';
  background: url("../images/search.png") no-repeat scroll center center transparent;
  border: medium none !important;
  cursor: pointer;
  height: 28px;
  position: absolute;
  right: 6px;
  text-indent: 999999px;
  top: 7px;
  width: 20px;
}

#edit-submit,
#edit-submit--2,
#edit-submit--3,
#edit-submit--4,
#edit-preview,
.btn a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top , #69BAC8, #5CABB8) repeat scroll 0 0 transparent;
  border-color: -moz-use-text-color -moz-use-text-color #46818B;
  border-image: none;
  border-radius: 3px 3px 3px 3px;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 10px;
  padding: 15px 22px 13px;
	border-bottom:1px solid #46818b;
  background: #69bac8;
	background: -webkit-gradient(linear, left top, left bottom, from(#69bac8), to(#5cabb8));
	background: -moz-linear-gradient(top,  #69bac8,  #5cabb8);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#69bac8', endColorstr='#5cabb8');*/
}

#edit-submit:hover,
#edit-submit--2:hover,
#edit-submit--3:hover,
#edit-submit--4:hover,
#edit-preview:hover,
.btn a:hover {
  background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');*/
}

img.ico {
  border: 0 none;
  float: left;
  height: auto;
  margin: 0 15px 10px 0;
  max-width: 100%;
  vertical-align: middle;
}

.item-info-overlay {
  background-color: #75B5BF;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 120;
}

.links-list li a {
  background: url("../images/list_arrow.png") no-repeat scroll left 47% transparent;
  color: #A4A4A4;
  display: block;
  padding: 6px 0 6px 12px;
}

.links-list li a:hover {
  background: url("../images/list_arrow-h.png") no-repeat scroll left 47% transparent;
  color: #FFFFFF;
}

.links-list li:first-child a {
  margin: -12px 0 0;
}

.links-list li:last-child a {
  border: medium none;
}

#region-preface-first,
#region-preface-second,
#region-preface-third {
  margin-bottom: 30px;
}

.front-pf {
  background: url("../images/bg-c.png") no-repeat scroll center bottom transparent;
  height: 300px;
  text-align: center;
}

.front-pft {
  background: url("../images/bg-ct.png") no-repeat scroll center top transparent;
  height: 260px;
  text-align: center;
}

.front-pf h2,
.front-pft h2 {
  font-family: 'Titillium Web',sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

.front-pf p,
.front-pft p {
  color: #7C7E7E;
  font-size: 13px;
  padding: 0 30px;
}

.front-pf img,
.front-pft img {
  margin-top: 40px;
}

#zone-f .item-list ul li {
  margin: 5px 0 0;
  padding: 0;
}

#zone-header {
  margin-bottom: 20px;
}

#zone-preface {
  margin-bottom: 25px;
}

.front #zone-postscript-wrapper,
.front #zone-user-wrapper,
.page-node-18 #zone-postscript-wrapper {
  background-color: #EDF0F1;
}

.front #zone-postscript-wrapper,
.page-node-18 #zone-postscript-wrapper {
  border-top: 1px solid #E1E2E3;
}

.front #zone-postscript{
  margin-bottom: 20px;
}

#zone-user-wrapper {
  background: url("../images/bg-u.png") no-repeat scroll center top #EDF0F1;
  padding-bottom: 70px;
}

.context-about-us #zone-user-wrapper {
	background-color: #EDF0F1;
	background-image:none;
	border-top: 1px solid #E1E2E3;
  padding-bottom: 70px;
}

.block-29 h2.block-title {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 15px;
  margin-top: 30px;
	text-transform: none;
}

.context-about-us  .block-16 {
	background: url("../images/bg-u.png") no-repeat scroll center top #EDF0F1;
}

.context-about-us .logos-title {
  padding-top: 30px;
}

.circle-mask-1 {
  background: url("../images/circle-mask.png") no-repeat scroll left top transparent;
  left: 0;
  position: absolute !important;
  top: 0;
}

.our-team-title {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 15px;
  margin-top: 30px;
}

.team-m-b {
  margin-bottom: 40px;
}

.team-container {
  display: block;
  overflow: hidden;
	line-height: 20px;
}

.member-photo,
.team-photo img,
.circle-mask-1,
.member-data {
  float: left;
  font-size: 12px;
  height: 140px;
  position: relative;
  width: 140px;
}

.member-photo {
  margin: 10px 10px 10px 0;
}

.member-name {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  margin: 25px 0 10px;
}

.member-position {
  color: #5CABB8;
  font-size: 14px;
  margin: 0 0 10px;
}

.member-m-b {
  display: block;
  margin-bottom: 20px;
}

.bg-white {
  background-color: #FFFFFF;
}

.txt20 {
  padding: 0 20px;
}

.blk-title {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.blk-title .cnt {
  vertical-align: middle;
}

.p-hr {
  margin: 20px 0;
}

hr {
  background: none repeat scroll 0 0 #EEEEEE;
  border: medium none;
  color: #EEEEEE;
  height: 1px;
  margin: 0;
  padding: 0;
}

.p-text {
  padding: 0 20px;
}

.p-text p {
  color: #7C7E7E;
}

.r-m {
  padding: 25px 0;
  text-align: center;
}

.logos-title {
  color: #464646;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.logos {
  margin-top: 40px;
  text-align: center;
}

#newsletter-subscribe-form #edit-email,
#newsletter-subscribe-form #edit-email--2 {
  border: medium none !important;
  border-radius: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  color: #8A8C8C !important;
  font-size: 13px !important;
  height: 34px !important;
  margin: 0 !important;
  padding: 0 !important;
}

#newsletter-error {
  margin-top: 10px;
}

li .btn-c a {
  background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: none none solid;
  border-width: 0 0 1px;
	border-bottom:1px solid #d9dbdc;
  color: #464646;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: normal;
  list-style-type: none;
  margin: 4px 5px 4px 0;
  padding: 6px 11px;
}

.btn-c:hover a {
  background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');
  border-bottom: 1px solid #46818B;
  color: #FFFFFF;
}

.content img,
img.res {
  height: auto;
  max-width: 100%;
}
#edit-search-block-form--2 {
	background-color: #FAFBFC;
  padding-left: 10px;
  width: 64%;
}

.form-item-search-block-form label,
.form-item-keys label {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 18px 10px 0;
	text-transform:uppercase;
	color: #464646;
}

h1#page-title {
  letter-spacing: -0.02em;
}

.node-type-blog h1#page-title {
  display: none;
}

.no-border, #region-sidebar-first .block #block-search-form, #region-sidebar-second .block #block-search-form {
  border-bottom: medium none !important;
}

.fw {
  font-weight: 200;
}

.mask {
  background: url("../images/circular-image-mask.png") no-repeat scroll center center transparent;
}

#edit-message {
  height: auto !important;
  padding-left: 10px;
  padding-top: 10px;
}

#edit-name,
#edit-email,
#edit-subject,
#edit-keys,
#edit-pass,
#edit-firstname,
#edit-lastname,
#edit-mail {
  padding-left: 10px;
}

.page-admin a {
  color: #0074BD;
}

#region-sidebar-second .flickr li {
  float: left;
  line-height: 0;
  margin: 0 7px 1px 0;
  width: 60px;
}

#region-sidebar-second .flickr a {
  background-color: #EBEFF0;
  display: inline-block;
  padding: 2px;
}

#region-sidebar-second .flickr a:hover {
  background-color: #5FBDC8;
}

#region-sidebar-second .flickr img {
  max-width: inherit;
  width: 60px;
}

.mp {
  padding: 0 7px;
  vertical-align: middle;
}

.list-widget {
  margin-bottom: 40px;
}

.block-list li {
  border-bottom: 1px dotted #BCBCBC;
  list-style: none outside none;
}

.block-list a {
  color: #8A8C8C;
  display: block;
  padding: 10px;
}

.block-list li:hover, .block-list a:hover {
  background: none repeat scroll 0 0 #EBEFEF;
  color: #5CABB8;
}

#isotope-container {
  margin-bottom: 30px;
}

.isotope-element {
  margin: 0 12px 12px 0;
}

.border-img a.img-link {
  background: url("../images/link.png") no-repeat scroll 0 0 transparent;
  right: -36px;
}

.border-img a.img-view {
  background: url("../images/view.png") no-repeat scroll 0 0 transparent;
  right: -36px;
}

.border-img a:hover {
  background-position: 0 -36px;
}

img.ft {
  height: 42px;
  width: 42px;
}

.isotope-element .views-field-title a {
  color: #5CABB8 !important;
}

.tb-50 {
  margin: 50px 0;
}

.tb-40 {
  margin: 40px 0;
}

.tb-20 {
  margin: 20px 0;
}

.tb-18 {
  margin: 18px 0;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.c-a {
  background: url("../images/cs-small-a.png") no-repeat scroll left top transparent;
}

.c-b {
  background: url("../images/cs-small-b.png") no-repeat scroll left top transparent;
}

.a-title {
  font-family: 'Titillium Web',sans-serif;
  font-size: 20px;
  font-weight: normal;
  height: 90px;
  line-height: 21px;
  padding-top: 60px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

img.plt {
  padding: 40px 0 0 40px;
}

.more-info {
  color: #A9ACAC;
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
}

.gray {
  color: #464646 !important;
}

.a-r {
  text-align: right;
}

.vis {
  position: absolute;
  right: 0;
  top: 20px;
}

.field-name-field-cattag a {
  color: #464646;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.logged-in #edit-newsletter-submit {
  position: relative;
  top: 0;
}

.border-img {
  background-color: #FBFBFB;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

.border-img:hover {
  background-color: #75B5BF;
}

.border-img a {
  height: 42px;
  margin-top: -17px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transition: none 0s ease 0s;
  width: 42px;
}

.border-img a.img-view {
  background: url("../images/view.png") no-repeat scroll 0 0 transparent;
  left: -20px;
}

.border-img a.img-link {
  background: url("../images/link.png") no-repeat scroll 0 0 transparent;
  right: -20px;
}

.border-img a:hover {
  background-position: 0 -42px;
}

.sf-menu.sf-style-trace.sf-horizontal li ul {
  background: url("../images/t.png") no-repeat scroll 24px 0 transparent;
  padding-top: 10px;
}

.sf-menu.sf-style-trace.sf-horizontal li:hover ul {
  padding-top: 10px;
}

.but-g {
  border-bottom:1px solid #d9dbdc;
  background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');
  color: #464646;
}

.but-g:hover {
  color:#ffffff;
  border-bottom:1px solid #46818b;
  background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');
}

.btn-class {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #464646;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 15px 22px 13px;
  text-decoration: none;
	border-bottom:1px solid #d9dbdc;
  background: #eff2f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eff2f3), to(#e7ebeb));
	background: -moz-linear-gradient(top,  #eff2f3,  #e7ebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f3', endColorstr='#e7ebeb');
  color: #464646;
}

.btn-class:hover {
  color:#ffffff;
  border-bottom:1px solid #46818b;
  background: #6ac8d3;
	background: -webkit-gradient(linear, left top, left bottom, from(#6ac8d3), to(#5dbbc6));
	background: -moz-linear-gradient(top,  #6ac8d3,  #5dbbc6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac8d3', endColorstr='#5dbbc6');
  
}

.contact-text {
	float:left;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 25px;
  padding-top: 15px;
}

.view-isotope-example .views-field-title {
  position: absolute;
  top: 192px;
}

.portfolio .views-field-title span {
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
}

.page-contact h1#page-title {
  display: none;
}

.page-contact #zone-content-wrapper {
  background-color: #EDF0F1;
  border-top: 1px solid #E1E2E3;
}

.page-contact #region-content {
  margin: 20px 0 30px;
}

.page-contact #block-block-23 h2.block-title {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 42px;
  margin-top: 40px;
  text-transform: none;
}

.page-contact .form-type-textarea {
  width:92%
}

.page-contact #zone-preface {
	margin-bottom: 0;
	}
#map{
  width:100%;
  height:205px;
  margin:40px 0px 60px 0px;
  padding:0px;
  border:0px;
  border-bottom:1px solid #d9dbdc;
}

.con-icon {
  float: left;
  font-size: 21px;
  line-height: 25px;
  margin-right: 20px;
  text-align: right;
  width: 15px;
}

#block-jump-menu-jump-menu-m-main-menu {
	display:block;
}

#block-superfish-1 {
	display:none;
}
	
.ctools-jump-menu-select {
	margin: 0 auto;
  width: 100%;
}

.pager {
	margin-bottom: 30px !important;
}
	
#region-content {
	margin-bottom:30px;
}

.front-pf:hover h2, .front-pft:hover h2{
  color:#5CABB8;
}

blockquote {
  background: none repeat scroll 0 0 #EBEFEF;
  border-left: 4px solid #5CABB8;
  color: #464646;
  font-size: 13px;
  font-style: italic;
  line-height: 25px;
  margin: 15px 0;
  padding: 20px 40px;
}

.form-textarea-wrapper textarea {
	height:100% !important;
}

#comments {
  clear: both;
  margin-top: 35px;
}

#comments .clearfix {
  display: block;
	margin-bottom:30px;
}

.h-divider {
  border-bottom: 1px dashed #E5E5E5;
  margin-bottom: 35px !important;
  padding-bottom: 10px !important;
}

#comments .meta {
  color: #464646;
  font-size: 11px;
  margin-bottom: 10px !important;
  padding-bottom: 8px;
}

.pad {
  color: #464646;
  font-size: 13px;
  margin-bottom: 10px !important;
  margin-left: 94px;
  padding-bottom: 8px;
}

.comment p {
	line-height:16px;
	font-size: 12px;
	margin-bottom: 15px;
}

.user-picture img {
  background-color: #FFFFFF;
  border: medium none;
  box-shadow: none;
  float: left;
  margin-right: 20px;
  padding: 3px !important;
  width: 65px;
}

img.wide  {
  margin-top: -58px;
  width: 100% !important;
	margin-bottom:40px;
}

.hotline {
  color: #A9ACAC;
  font-family: 'Titillium Web',sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.cont-c a {
  color: #464646;
  text-shadow: 0 0 0;
}

.cont-p {
  display: table-cell;
  font-size: 60px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 30px;
  padding-left: 84px;
  padding-top: 50px;
  text-shadow: 1px 1px 1px #969696;
  vertical-align: bottom;
  width: 300px;
}

.cont-p .p1 {
  float: left;
  font-size: 24px;
  height: 50px;
  line-height: 26px;
}

.cont-p .p2 {
  float: left;
  font-size: 60px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding-left: 2px;
}

.cont-p .p3 {
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 22px;
  padding-left: 6px;
  text-align: left;
}

.c-price-title a {
  color: #464646;
  font-family: 'Titillium Web',sans-serif;
  font-size: 20px;
}

.c-text {
  color: #7C7E7E;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.price-list li {
  line-height: 25px;
  list-style: none outside none;
}

li {
  line-height: 20px;
}

.price-list {
  font-size: 15px;
  margin-top: 15px;
  padding-left: 94px;
  text-align: left;
}

.price-list li {
  line-height: 25px;
  list-style: none outside none;
}

.c-text .price-list li a {
	color: #7C7E7E;
	background: url("../images/list_arrow1.png") no-repeat scroll left 47% transparent;
	display: block;
  padding: 0 0 0 20px;
}

.c-1:hover .c-price-title a,
.c-2:hover .c-price-title a,
.c-1:hover .cont-c a,
.c-2:hover .cont-c a {
  color: #5CABB8;
}

.tpt-10 {
	padding-top: 10px;
}

.tpt-20 {
	padding-top: 20px;
}

.t-pricing .b-gray {
  background: none repeat scroll 0 0 #BBBEBE;
  color: #FFFFFF;
  font-size: 16px;
  padding: 0;
  vertical-align: top;
}

.t-pricing {
	text-align: center;
  margin-bottom: 60px !important;
}

.t-pricing .tabla {
  margin-top: 20px !important;
  width: 100%;
}

.t-pricing .tabla.bc{
color:#5CABB8;
}

.t-pricing .b-gray {
  color: #FFFFFF;
  font-size: 16px;
}

.t-pricing .b-blue {
  background: none repeat scroll 0 0 #5DACBA;
  color: #FFFFFF;
  font-size: 16px;
}

.t-title-2-container {
  margin: 0 auto;
  width: 140px;
}

.t-pricing .t-title-2 {
  display: table-cell;
  font-size: 60px;
  font-weight: bold;
  height: 110px;
  position: relative;
  text-shadow: 1px 1px 1px #969696;
  vertical-align: middle;
}

.t-title-2 .t-price-1 {
  float: left;
  font-size: 24px;
  font-weight: normal;
  height: 50px;
}

.t-title-2 .t-price-2 {
  float: left;
  font-size: 60px;
  height: 50px;
  line-height: 40px;
  padding-left: 2px;
}

.t-title-2 .t-price-3 {
  float: left;
  font-size: 18px;
  font-weight: normal;
  height: 50px;
  padding-left: 6px;
  text-align: left;
}

.t-title-2 .t-price-4 {
  float: left;
  font-size: 12px;
  font-weight: normal;
}

.t-pricing .pad-tb {
  font-weight: normal;
  padding: 25px;
}

.t-pricing .t-title {
  background: none repeat scroll 0 0 #818383;
  border-bottom: 1px solid #FFFFFF;
  border-top: 20px solid #FFFFFF;
  font-weight: normal;
  padding: 7px;
}

.t-pricing .t-title2 {
  /* background: none repeat scroll 0 0 #818383;
  border-bottom: 1px solid #FFFFFF;
  border-top: 20px solid #FFFFFF;*/
  font-weight: normal;
  padding: 7px;
	background: #4b8b96;
  border-top: 0px solid #fff;
	border-bottom: 1px solid #FFFFFF;
}

.t-pricing .t-title2 {
  margin-top: 20px !important;
}

.t-pricing div.txt, .t-pricing div.txt-g {
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
}

.t-pricing div.txt-g {
	background-color:#EDF0F1;
}

.t-pricing .pad-tb {
  font-weight: normal;
  padding: 22px;
}

.node-portfolio img, node-article img{
	margin-bottom: 15px;
}

img.h {
  height: 10px !important;
  margin-top: 24px;
}

img.scale {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 739px) and (max-width: 979px) {

  #edit-newsletter-submit {
    top:260px;
  }

  .a-title {
    font-size: 14px !important;
    width: 100px;
    padding-top: 40px;
  }

  .c-a {
    background: url(../images/cs-small-a1.png) no-repeat scroll left top transparent;
  }

  .c-b {
    background: url(../images/cs-small-b1.png) no-repeat scroll left top transparent;
  }

  img.plt {
    padding: 20px 0 0 20px;
  }

  .front-pf {
    background: url(../images/bg-cs.png) no-repeat scroll left bottom transparent;
  }

  .front-pft {
    background: url(../images/bg-cts.png) no-repeat scroll left top transparent;
  }

  .front-pf h2,
  .front-pft h2 {
    font-size: 16px;
  }

  .front-pf p,
  .front-pft p {
    line-height: 18px;
  }

  .c-1,
  .c-2 {
    background: none;
  }

  #block-search-form #edit-submit,
  #block-search-form #edit-submit--2,
  #block-search-form #edit-submit--3,
  #block-search-form #edit-submit--4 {
    top: 33px;
  }

  #edit-search-block-form--2 {
    width: 86%;
  }

}

@media only screen and (max-width: 740px) {

  .border-img img {
    width: 100% !important;
    height: auto !important;
  }

  .front-pft,
  .front-pf {
    width: 300px;
  }

  #edit-newsletter-submit {
    right: 24px;
  }

  #zone-f .region-inner {
    padding-left:10px;
  }

  .page-contact #region-content {
    padding-left: 20px;
  }

  #edit-search-block-form--2 {
    padding-left: 10px;
    width: 84%;
  }

  #block-search-form #edit-submit,
  #block-search-form #edit-submit--2,
  #block-search-form #edit-submit--3,
  #block-search-form #edit-submit--4 {
    top: 33px;
  }

  #edit-search-block-form--2 {
    padding-left: 10px;
    width: 95%;
  }

  #region-postscript-first,
  #region-postscript-second,
  #region-postscript-third {
    margin-bottom: 30px;
  }

  .vis {
  top: -30px;
  }
	
}

@media only screen and (max-width: 479px) {
	.vis {
	  top: 10px;
  }
}

@font-face {
  font-family: 'investing-in-children';
  src: url(/sites/all/themes/blueprints/fonts/investing-in-children.eot);
  src: url(/sites/all/themes/blueprints/fonts/investing-in-children.eot?#iefix) format('embedded-opentype'), url(/sites/all/themes/blueprints/fonts/investing-in-children.woff) format('woff'), url(/sites/all/themes/blueprints/fonts/investing-in-children.ttf) format('truetype'), url(/sites/all/themes/blueprints/fonts/investing-in-children.svg#investing-in-children) format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
}

#magnifying_glass {
  float: left;
  margin-left: 0;
  font-size: 16px;
  font-family: 'investing-in-children';
  position: relative;
}

#magnifying_glass a {
  color: #464646;
}

#main_menu select {
  width: 100%;
}

#main_menu ul.main-menu {
  float: left;
  list-style-type: none;
  width: 100%;
  position: relative;
  z-index: 10;
  display: none;
}

#main_menu ul.main-menu li {
  display: inline;
  font-size: 14px;
  margin-right: 35px;
  line-height: 30px;
}

#main_menu ul.main-menu li a {
  text-decoration: none;
  color: #464646;
}

#main_menu ul.main-menu li a:visited {
  color: #464646;
}

#main_menu ul.main-menu li a:hover {
  color: #5CABB8;
}

.page #section-content #zone-postscript-wrapper {
  padding: 11px 0;
  background: url(/sites/all/themes/blueprints/images/bg-u.png) no-repeat scroll center top #EDF0F1;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second label {
  display: none;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #webform-component-name {
  float: left;
  width: 49%;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #webform-component-name input {
  width: 100%;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #webform-component-email {
  float: left;
  width: 48%;
  padding-left: 3%;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #webform-component-email input {
  width: 100%;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #webform-component-message {
  padding-bottom: 1em;
  clear: both;
}

 #webform-component-message .resizable-textarea {
  height: 178px;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #edit-actions,
.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second .webform-client-form .form-actions {
  text-align: right;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second .webform-client-form .form-actions input {
  margin:0;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-second #edit-actions input#edit-submit {
  margin-right: 2px;
  text-shadow: none;
  font-weight: normal;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first #contact_page_block h2 {
  font-size: 22px;
  font-family: 'Titillium Web', 'sans-serif';
  margin-bottom: 0;
}

.page #section-content #zone-postscript-wrapper #zone-postscript #region-postscript-first #contact_page_block .contact-text {
  padding-top: 4px;
}

.page #section-content #zone-content-wrapper #zone-content #region-content h1#page-title {
  color: #464646;
}

.page #section-content #zone-content-wrapper #zone-content #region-content .region-content-inner {
  margin-top: -7px;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li a {
  text-decoration: none;
  color: #7c7e7e;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li.node-readmore {
  float: left;
  /* Old browsers */
  background: #69bac8;
  /* FF3.6+ */
  background: -moz-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#69bac8),color-stop(100%,#5dacb9));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* W3C */
  background: linear-gradient(to bottom,#69bac8 0%,#5dacb9 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69bac8',endColorstr='#5dacb9',GradientType=0);
  padding: 4px 11px 6px;
  margin: 5px;
  padding: 13px 23px 8px;
  margin-left: 0;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li.node-readmore a {
  text-decoration: none;
  color: #FFF;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li.comment-comments:before {
  font-family: 'investing-in-children';
  content: '';
  font-size: 16px;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li.comment-comments {
  font-family: 'Open Sans', 'sans-serif';
  float: left;
  padding: 17px 0px 0px 19px;
}

.page #section-content #zone-content-wrapper #zone-content #region-content ul.links li.comment-comments a {
  margin-left: 6px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left {
  width: 100%;
  margin-top: 40px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left p,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right p,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer p {
 font-size: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left .field-label,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-label,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-label,
.page #section-content #zone-content-wrapper #zone-content .node-programme label {
  font-size: 14px;
  font-family: 'Titillium Web', 'sans-serif';
  font-weight: 600;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left .field-name-field-approved {
  height: 48px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left .field-name-field-approved #crop {
  font-family: 'investing-in-children';
  float: left;
  font-size: 25px;
  color: #4eabb8;
  margin-top: 7px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-left .field-name-field-approved h2 {
  margin: 0px 0px 0px 7px;
  float: left;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Titillium Web', 'sans-serif';
  letter-spacing: 0;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right {
  width: 100%;
  padding: 0;
  background-color: #edf0f1;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group .field-label,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-operating-domain .field-label,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-level-of-intervention .field-label {
  width: 41%;
  color: #7c7e7e;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group .field-items,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-operating-domain .field-items,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-level-of-intervention .field-items {
  width: 59%;
  color: #7c7e7e;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group .field-items .field-item,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-operating-domain .field-items .field-item,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-level-of-intervention .field-items .field-item {
  width: 100%;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group .field-items .field-item a:before,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-operating-domain .field-items .field-item a:before,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-level-of-intervention .field-items .field-item a:before {
  content: '•';
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group .field-items .field-item a,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-operating-domain .field-items .field-item a,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-level-of-intervention .field-items .field-item a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
  margin-left: 1px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-right .field-name-field-target-group {
  margin-top: 14px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer {
  padding-top: 40px;
  font-size: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table th,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table td {
  color: #898b8c;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected {
  float: left;
  width: 340px;
  margin-right: 10px;
  padding: 0px 0px 73px 0px;
  font-size: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-items {
  width: 194px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-label {
  margin-right: 28px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-item {
  width: 100%;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-item a:before {
  content: '•';
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-outcomes-affected .field-item a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
  margin-left: 1px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme {
  float: left;
  width: 340px;
  margin-left: 10px;
  font-size: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme .field-label {
  width: 114px;
  padding-left: 10px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme .field-items {
  width: 52%;
  margin-left: 10%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme {
  float: right;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-of-programme {
  float: right;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-interventions-pdf,
.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-is-from-report{
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-impact-interventions-pdf a {
  text-decoration: none;
  color: inherit;
}

#node_programme_full_group_risk_protective .form-item {
  margin-top: 40px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table.field-collection-view-final thead tr th {
  background-color: #bbbebe;
  height: 68px;
  width: 77px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-source-of-benefits table.field-collection-view-final thead tr th {
  padding-left: 1em;
  padding-right: 1em;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table.field-collection-view-final tbody tr.odd {
  background-color: #edf0f1;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table.field-collection-view-final tbody tr.odd td {
  background: inherit;
  border-right: 1px solid #FFF;
  text-align: center;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table.field-collection-view-final tbody tr.even {
  background-color: #fafdfe;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer table.field-collection-view-final tbody tr.even td {
  background-color: inherit;
  border-right: 1px solid #FFF;
  text-align: center;
}

.page #section-content #zone-content-wrapper #zone-content #block-blueprints-interventions-text #interventions_text {
  font-size: 13px;
  background-color: #edf0f1;
  padding: 4px 0px 0px 11px;
  height: 32px;
}

.page #section-content #zone-content-wrapper #zone-content #block-blueprints-interventions-text #interventions_text a {
  text-decoration: none;
  color: #5CABB8;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme table,
.page #section-content #zone-content-wrapper #zone-content .node-programme table tr {
  border: 0;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th:first-child {
  display: table-cell;
  width: 51%;
  padding-top: 24px;
  position: absolute;
  height: 46px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th:last-child {
  padding-left: 17%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective thead tr th {
  font-weight: 600;
  background-color: #bbbebe;
  height: 66px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr th.field-label {
  width: 132px;
  padding: 0px 8px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr:hover * {
  background-color: transparent !important;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr:nth-child(odd) {
  background: #edf0f1;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr:nth-child(even) {
  background: #fafdfe;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr th {
  background-color: inherit;
  border: 0;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody tr td {
  padding: 0px 8px;
  border-left: 1px solid white;
  background-color: inherit;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody table {
  margin-bottom: 0;
  border: 0;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody table tr:first-child .field-content {
  border: 0;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody table tr th.field-label {
  display: none;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer div.group_risk_protective table.group_risk_protective tbody table tr {
  background: inherit !important;
  display: table-cell;
  width: 50%;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-collection-container {
  float: left;
  width: 100%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-progr-information-contact {
  float: left;
  margin-top: 40px;
  width: 340px;
  margin-right: 10px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-progr-information-contact .field-label {
  width: 31%;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-progr-information-contact .field-items {
  margin-left: 16px;
  width: 205px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-local-authorities-uk {
  float: right;
  margin-top: 40px;
  width: 340px;
  margin-left: 10px;
}

.page #section-content #zone-content-wrapper #zone-content .node-programme .group-footer .field-name-field-local-authorities-uk .field-label {
  width: 31%;
  float: left;
  margin-right: 45px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post {
  color: #7c7e7e;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post h2 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 44px;
  margin-bottom: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post h2 a {
  color: #464646;
  text-decoration: none;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .field-name-field-tags:before {
  content: '';
  font-family: 'investing-in-children';
  font-size: 16px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .field-name-field-tags {
  height: 48px;
  margin-top: 5px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .field-name-field-tags .field-items {
  font-family: 'Open Sans', 'sans-serif';
  margin-top: -27px;
  margin-left: 4%;
  background: #FFF;
  height: 100%;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .field-name-field-tags .field-items .field-item {
  float: left;
  margin-right: 6px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .submitted span .username {
  text-transform: capitalize;
  color: #5cabb8;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .submitted span .icon {
  font-family: 'investing-in-children';
  padding: 0px 6px 0px 11px;
  font-size: 16px;
}

#section-content #zone-content-wrapper #zone-content .node-blog-post .submitted span.icon {
  font-family: 'investing-in-children';
  padding: 0px 6px 0px 11px;
  font-size: 16px;
}

.page #section-content #zone-content-wrapper #zone-content .node-blog-post .submitted span a {
  text-transform: capitalize;
  color: #5cabb8;
  text-decoration: none;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block .views-field-field-subtitle {
  margin-top: 36px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block .views-field-field-subtitle h4 {
  margin: 6px 0 15px;
  font-family: 'Titillium Web', 'sans-serif';
  letter-spacing: -0.04em;
  font-size: 21px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block .views-field-body {
  margin-top: 33px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block .views-field-body .field-content {
  color: #7C7E7E;
}

#block-views-webforms-block-1 {
  border-bottom: 0!important;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner {
  margin-left: 9%;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-address,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-phone-number,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-email,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-twitter {
  margin-bottom: 8px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-address .field-content,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-phone-number .field-content,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-email .field-content,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-twitter .field-content {
  font-family: 'Open Sans', 'sans-serif';
  vertical-align: top;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-address .field-content .character,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-phone-number .field-content .character,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-email .field-content .character,
.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-twitter .field-content .character {
  font-family: 'investing-in-children';
  font-size: 22px;
  margin-right: 12px;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-address .character {
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content #block-views-webforms-block-1 .block-inner .views-field-field-address .address-block {
  overflow: hidden;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second .block-tagclouds .tagclouds-term {
  float: left;
  /* Old browsers */
  background: #69bac8;
  /* FF3.6+ */
  background: -moz-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#69bac8),color-stop(100%,#5dacb9));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* W3C */
  background: linear-gradient(to bottom,#69bac8 0%,#5dacb9 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69bac8',endColorstr='#5dacb9',GradientType=0);
  padding: 4px 11px 6px;
  margin: 5px;
  border-radius: 3px;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second .block-tagclouds .tagclouds-term a {
  text-decoration: none;
  color: #FFF;
  font-size: 1em!important;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second .block-tagclouds .more-link {
  display: none;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .more-link {
  display: none;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .view-tweets ul {
  list-style: none;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .view-tweets li:before {
  font-family: 'investing-in-children';
  content: '';
  font-size: 22px;
  color: #D9DBDC;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .view-tweets li {
  color: #7C7E7E;
  margin: 0;
  margin-bottom: 6%;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .view-tweets li a {
  color: #84C0CA;
  text-decoration: none;
}

.page #section-content #zone-content-wrapper #zone-content #region-sidebar-second #block-views-tweets-block .view-tweets li #tweet {
  font-family: 'Open Sans', 'sans-serif';
  margin-top: -27px;
  margin-left: 11%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list {
  margin-top: 2px;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row {
  color: #7C7E7E;
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 27px;
  overflow: hidden;
  height: 1%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row #crop,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row #crop {
  font-family: 'investing-in-children';
  font-size: 15px;
  width: 6%;
  overflow: hidden;
  float: left;
  clear: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row h2,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .body h1 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 13px;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row h2 a,
.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row h2 a {
  text-decoration: none;
  color: #464646;
}

.page #section-content #zone-content-wrapper #zone-content .view-features .views-row h2 a,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row h2 a {
  font-size: 17px;
  text-decoration: none;
  color: #464646;
  font-weight: 600;
}

.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .body h1 {
  color: #464646;
}
.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .author {
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .author .username {
  text-transform: capitalize;
  color: #5cabb8;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .author a {
  text-decoration: none;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .date {
  float: left;
  margin-left: 13px;
  width: 32%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .date #crop {
  margin: 0;
  width: 13%;
  overflow: hidden;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row #crop,
.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .tags {
  margin: 11px 0;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .tags {
  clear: right;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .body {
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .read_more,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .read_more {
  float: left;
  /* Old browsers */
  background: #69bac8;
  /* FF3.6+ */
  background: -moz-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#69bac8),color-stop(100%,#5dacb9));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top,#69bac8 0%,#5dacb9 100%);
  /* W3C */
  background: linear-gradient(to bottom,#69bac8 0%,#5dacb9 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69bac8',endColorstr='#5dacb9',GradientType=0);
  padding: 4px 11px 6px;
  margin: 5px;
  padding: 8px 19px 8px;
  margin-left: 0;
  border-radius: 3px;
}

.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .author,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .body {
  clear: both;
  display: block;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .read_more a,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .read_more a {
  text-decoration: none;
  color: #FFF;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .comments,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .comments {
  float: left;
  padding: 13px 2px 9px 16px;
  width: 27%;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .views-row .comments #crop,
.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .comments #crop {
  margin: 0;
  width: 13%;
  overflow: hidden;
  float: left;
}

.page #section-content #zone-content-wrapper #zone-content .view-features .views-row .comments #crop {
  float: none;
  display: inline;
}

.page #section-content #zone-content-wrapper #zone-content .view-blog-list .item-list,
.page #section-content #zone-content-wrapper #zone-content .view-features .item-list {
  width: 100%;
}

.page-taxonomy-term .node-blog-post .submitted {
  margin-bottom: 11px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block h2.block-title {
  padding-bottom: 3px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .views-field-body {
  width: 85%;
  margin-bottom: 6px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .views-field-body p[style] {
  margin: 0 !important;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .views-field-body p[style] span {
  background: none;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .views-field-view-node {
  margin-bottom: 17px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-first #block-views-footer-blocks-block .view-footer a {
  float: left;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-second h2.block-title {
  padding-bottom: 1px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-second .view-display-id-block_1 .views-row-last .views-field-title {
  padding-bottom: 8px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-second .view-display-id-block_1 .views-field-field-link {
  padding-bottom: 12px;
}

.page #section-content #zone-f-wrapper #zone-f #region-f-second .view-display-id-block_1 .more-link {
  text-align: left;
}

.page #section-footer #block-blueprints-contact-information {
  width: 100%;
  float: left;
}

.page #section-footer #block-blueprints-copyright {
  width: 100%;
  float: right;
}

.page #section-footer #contact_information p {
  margin: 0;
}

.node-type-programme #region-content {
  width: 98% !important;
}

.iic-icon {
  font-family: 'investing-in-children';
}

span.iic-icon-approved {
  color: #4EABB8;
}

.node-type-programme label,
.node-type-programme .field-label {
  color: #7c7e7e;
  margin-bottom: 20px;
}

.block-facetapi .block-title {
	padding-bottom: 1em;
	border-bottom: dashed 1px #ccc;
	margin-bottom: 0;
  line-height: 1.5;
  min-height: 43px;
}

ul.facetapi-facetapi-links li {
	list-style-type: none;
	margin: 0;
	list-style-image: none;
	padding: 1em 0;
	border-bottom: dashed 1px #ccc;
  
}

ul.facetapi-facetapi-links a {
  text-decoration: none;
  color: #5CABB8;	
}

ul.facetapi-facetapi-links li li {
	font-size: 0.95em;
  padding: 0.2em 0 0 1.3em;
	
	border-bottom: none;
}

.node-type-programme .field-name-field-cost-benefit-analysis .field-label {
  margin-top: 35px;
}

.node-type-programme .field-name-field-cost-benefit-analysis .field-description {
  margin-top: -27px;
}

.field-name-field-cost-benefit-analysis th {
  padding-left: 1em;
  padding-right: 1em;
}

.node-type-programme .field-name-field-source-of-benefits .field-label {
  margin-top: 40px;
}

.node-type-programme .field-name-field-source-of-benefits .field-description {
  margin-top: -27px;
}

.node-type-programme .field-name-field-source-of-benefits .field-footer {
  margin-bottom: 20px;
}

.field_source_of_benefits_select {
  width: 47%;
  text-align: left!important;
}

table.table {
	width: 100%;
	border: none;
	text-align: center;
	color: #8a8c8c;
}

thead tr {
  height: 5em;
}

thead th {
  border: none;	
  background-color: #bbbebe;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-weight: bold;
  line-height: 1.3em;
}

tbody td,
tbody tr:hover td {
  background-color: #edf0f1;
  height: 3em;
} 

tbody tr:nth-child(even) td,
table tr:nth-child(even):hover td {
	background-color: #fafdfe;
}

thead th:first-child,
table td:first-child {
	padding-left: 1.5em;
	text-align: left;
}

tr .iic-icon-approved {
	font-size: 1.6em;
}

/* These layout-related styles are possibly problematic */
body.page-search #section-content #zone-content-wrapper #zone-content #region-content { width: 100%; }
body.page-search #block-system-main { clear: both; margin-top: 3em; }
/* End layout-related styles */

.clear { clear: both; }

#search-form {
	text-align: center;
	margin: 0 auto 2.5em;
}

#search-form #edit-keys {
	width: 21em;
}

#search-form #edit-submit {
  background: url("../images/search.png") no-repeat scroll center center transparent;
  border: medium none !important;
  cursor: pointer;
  height: 28px;
  position: relative;
  right: 42px;
  text-indent: 999999px;
  top: 10px;
  width: 20px;
}

.item-list .pager {
  background: none;
  border: 0;
  margin: 30px 10%;
  text-align: center;
  position: relative;
}

.item-list .pager li {
  padding: 5px 18px;
}

.item-list .pager li.pager-first,
.item-list .pager li.pager-last {
  display: none;
}

.item-list .pager li.pager-previous {
  position: absolute;
  left: 0;
  width: auto;
}
.item-list .pager li.pager-next {
  position: absolute;
  right: 0;
  width: auto;
}

.item-list .pager li.pager-previous a,
.item-list .pager li.pager-next a{
  width: 100%;
  line-height: 1;
}

.item-list .pager li.pager-current {
  background: #DFE2E3;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  text-align: center;
  color: #84c0ca;
  text-decoration: underline;
}

.item-list .pager li {
  width: 24px;
  border: 0;
  font: inherit;
  float: none;
}

.item-list .pager li a {
  background: none;
  color: #949696;
  font: inherit;
  font-size: 120%;
}

/* Mailchimp newsletter signup form */
#mailchimp-newsletter-investing_in_children label,
#edit-mailchimp-lists-mailchimp-investing-in-children-title{
  display: none;
}

#zone-f-wrapper .block-mailchimp-lists .block-title {
  margin-bottom: 0;
  padding-bottom: 3px;
}

#mailchimp-lists-user-subscribe-form-investing-in-children .form-item {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#mailchimp-lists-user-subscribe-form-investing-in-children .form-item-mailchimp-lists-mailchimp-investing-in-children-mergevars-FNAME {
  margin-top: 0;
}

#mailchimp-newsletter-investing_in_children .form-text {
  background-color: #222323;
  background-image: url('../images/tick.png');
  background-position: 95% 3px;
  background-repeat: no-repeat;
  border: 1px solid #4C4E4E!important;
  padding: 0 3%;
  width: 92%!important;
}

#mailchimp-lists-user-subscribe-form-investing-in-children input.is-empty {
  background-position: 95% 4px;
  background-image: url('../images/tick-empty.png');
}

#mailchimp-lists-user-subscribe-form-investing-in-children #edit-submit {
  float: right;
  margin-right: 10px;
}

#mailchimp-lists-user-subscribe-form-investing-in-children input[type="submit"] {
  float: right;
  margin-right:0;
}

/** Comments form **/
.comment-form label {
  display: none;
}

.comment-form .form-item-name {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.comment-form .form-item-mail {
  float: left;
  width: 48%;
}

.comment-form .field-name-comment-body {
  clear: both;
}

.comment-form .filter-wrapper {
  display: none;
}

.comment-form .form-item-mail input,
.comment-form .form-item-name input {
  width: 100%!important;
  max-width: 100%;
}

.node-type-blog-post #region-content {
  margin-bottom: 0!important;
}

.comment-form-heading h2 {
  margin-bottom: 0!important;
}

.comment-form-heading p {
  color: #5CABB8;
}

/** Comments display **/
.comment {
  overflow: hidden;
}

.comment-image {
  float: left;
  margin-right: 10px;
}

.comment-content {
  overflow: hidden;
  border-bottom: 1px dashed #E2E2E2;
  padding-bottom: 15px;
}

.comment .username {
  font-size: 14px;
  font-weight: bold;
}

.comment .links a {
  color: #5CABB8!important;
}

.node-type-programme .textformatter-list {
  margin:0;
  padding: 0;
  overflow: hidden;
}

.node-type-programme .textformatter-list li {
  margin:0;
  margin-left: 20px;
  padding: 0;
  font-size: 13px;
  list-style-type: disc;
  list-style-position: outside;
}

.search-results th {
  padding-left: 1em;
  padding-right: 1em;
}

.grid-pseudo-one-fifth {
	width: 170px;
}
.grid-pseudo-two-fifths {
	width: 370px;
}

.grid-pseudo-one-fifth,
.grid-pseudo-two-fifths {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.item-list ul.facetapi-facetapi-links {
	margin-top: 0;
}

.block-facetapi ul.facetapi-facetapi-links li:before {
	content: none;
	padding-right: 0;
}

ul.facetapi-facetapi-links li {
	width: 100%;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.grid-pseudo-two-fifths ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  
  column-gap: 30px;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
}
.grid-pseudo-two-fifths li {
	display: inline-block;
}

#flexslider-1 {
  display: none;
}

.view-hero-blocks .views-row {
	text-align: center;
  color: #7c7e7e;
  background-color: #f3fafb;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
}

.view-hero-blocks .iic-icon {
	color: #5CABB8;
	font-size: 47px;
	padding-top: 72px;
	padding-bottom: 30px;
}


.view-hero-blocks .views-field-field-heading a {
  font-size: 1.5em;
  font-family: 'Titillium Web',sans-serif;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #464646;
  line-height: 1.1em;
}

.view-hero-blocks .views-field-field-heading a:hover {
	color: #5CABB8;
}

.view-hero-blocks .views-field-body {
	letter-spacing: -0.01em;
	font-size: 0.95em;
	margin: 0 40px;
	line-height: 1.3em;
}

.page-taxonomy-term .view-taxonomy-term .views-row {
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 27px;
}

#block-webform-client-block-3 h2 {
  display: none;
}

#block-webform-client-block-3 {
  padding-top: 16px;
}

.zone-content-wrapper {
	color: #7c7e7e;
}

.node-type-basic-page .zone-content-wrapper p {
  margin-bottom: 2em;
}

.node-type-basic-page .zone-content-wrapper blockquote {
	padding-bottom: 0.1em;
	margin-bottom: 2em;
}

.node-type-basic-page .zone-content-wrapper .content ul {
  list-style-type: none;
}

.node-type-basic-page .zone-content-wrapper .content ul li:before {
	content: "\00BB";
	padding-right: 0.5em;
}

.node-type-basic-page .zone-content-wrapper .content ul li, .feature-item {
  padding: 0.75em 0 0.75em 0.5em;
  border-bottom: dashed 1px #CCCCCC;
}

.node-type-basic-page .zone-content-wrapper .content ol li {
  padding: 0.75em 0;
}

article h1,
article h2 {
	color: #464646;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
	letter-spacing: 0;
	line-height: 1em;
	margin-top: 1.5em;
  margin-bottom: 1.5em;
}

article h1 {
  font-size: 1.5em;
}

article h2 {
  font-size: 1.2em;
}

.title {
	margin-bottom: 1.5em;
}

#block-blueprints-blueprints-sidebar-content hr {
	margin-top: 40px;
	margin-bottom: 40px;
}

#sliding-popup .find-more-button {
  display: none!important;
}

#sliding-popup .popup-content #popup-text {
  max-width: 100%;
}

#block-views-blog-archive-block .content ul {
  list-style-type: none;
}

#block-views-blog-archive-block .content li:before,
#block-views-blog-archive-block-1 .content li:before {
  content: "\00BB";
  padding-right: 0.5em;
}

#block-views-blog-archive-block-1 .content li,
#block-views-blog-archive-block .content li {
  padding: 0.75em 0 0.75em 0.5em;
  border-bottom: dashed 1px #CCCCCC;
  margin: 0;
}

#block-views-blog-archive-block .content li a,
#block-views-blog-archive-block-1 .content li a {
  color: #7c7e7e;
}

#block-views-blog-archive-block .content li a:hover,
#block-views-blog-archive-block-1 .content li a:hover {
  color: #5CABB8;
}

#block-views-blog-archive-block .content li.active-parent,
#block-views-blog-archive-block-1 .content li.active-parent {
  background: #edf0f1;
  color: #5CABB8;
}
#block-views-blog-archive-block .content li.active-parent a,
#block-views-blog-archive-block1 .content li.active-parent a {
  color: #5CABB8;
}

#block-blueprints-blueprints-sidebar-content hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#block-blueprints-blueprints-twitter li:before {
  content:'\E003';
  font-family: 'investing-in-children';
  float: left;
  color: #d9dbdc;
  font-size: 1.75em;
  padding-top: 4px;
}

#block-blueprints-blueprints-twitter li {
  border-bottom: none;
  clear: both;
  margin-bottom: 1em;
}

#block-blueprints-blueprints-twitter li .views-field-text {
  float: left;
  width: 240px;
  margin-bottom: 2em;
}


.flexslider {
  border: none;
  border-bottom: solid 1px #ebebeb;
  box-shadow: none;
}

.flexslider .views-field-field-heading {
  font-family: 'Titillium Web',sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #464646;
  line-height: 1.1em;
}

.flexslider .views-field-body,
.flexslider .views-field-field-heading {
  width: 400px;
  float: left;
}

.flexslider .views-field-body {
  color: #7c7e7e;
}

.flexslider .iic-icon {
  font-size: 4em;
  text-align: center;
  line-height: 150px;
  color: #fff;
  background-color: #5CABB8;
  float: left;
  margin-left: 75px;
  margin-right: 30px;
  width: 130px;
  height: 130px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

.flexslider .flex-prev,
.flexslider .flex-next {
  opacity: 0.7 !important;
  display: block !important;
  line-height: 46px;
  margin-top: 0;
  top: 58px !important;
  color: #abaeae;
}

.flexslider .flex-prev {
  left: 10px !important;
}

.flexslider .flex-next {
  right: 10px !important;
}

.flex-direction-nav a:before {
  font-size: 26px;
  margin-left: 10px;
}

.flex-direction-nav a.flex-next:before {
  margin-right: 10px;
}

.flexslider .flex-prev,
.flexslider .flex-next {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image:    -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image:     -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image:      -o-linear-gradient(top, #ffffff, #eeeeee);
  box-shadow: 0px 1px 2px 1px rgba(221,221,221,1);
  border-radius: 100%;
  opacity: 1!important;
}


.search-results thead tr th {
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #fff;
    margin-left: -1px;
}
th.header {
    background-image: url("../images/bg.gif");
    cursor: pointer;
}

th.headerSortUp {
    background-image: url("../images/asc.gif") !important;
    background-color: #5CABB8;
    background-image: url("");
}

th.headerSortDown {
    background-image: url("../images/desc.gif");
    background-color: #5CABB8;
}

.popover {
    text-indent: -9999999px;
    display: block;
}

#block-block-1 {
    display: none;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	text-transform:none;
	
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}